@import "../variables";

.landingContainer {
    display: flex;
    height: 100vh;
    color: $secondary;
    align-items: center;
    justify-content: center;
    background-color: $text;

    .landingContent {
        height: 75vh;
        padding: 3rem;
        display: flex;
        fill: $secondary;
        border-radius: 8px;
        flex-direction: column;
        justify-content: space-between;

        .headerGroup {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            svg {
                display: block;
                margin: auto;

                text {
                    font-size: 30px;
                    fill: $secondary;
                    font-family: 'Poppins', sans-serif;
                }

                path {
                    stroke: transparent;
                }
            }

            p {
                margin-top: 0;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }
        }

        .buttonGroup {
            gap: 0.5em;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .signupButton {
                color: $text;
                font-size: 20px;
                font-weight: bold;
                padding: 10px 20px;
                border-radius: 20px;
                text-decoration: none;
                background-color: $secondary;
                transition: all 0.5s ease-in-out;

                &:hover {
                    transform: scale(0.95);
                    background-color: darken($secondary, 10%);
                }
            }

            .signinButton {
                font-size: 18px;
                color: $secondary;
                font-weight: bold;
                padding: 10px 20px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}